@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	height: 3000px;
	background-color:rgb(199, 88, 88);
	font-family:"Arial Black", Gadget, sans-serif;
}
.top-nav
{
	background-color:#333;
	height:60px;
	top:0;
	position:sticky;
	margin-bottom:5px;
	border-bottom: 3px solid orange;
	z-index:3;
}/* CSS Document */
.logo
{
	height:50px;
	margin: 5px 50px 0px 5px;
}
.logo1
{
	height:50px;
	margin: 5px 10px;
}
.form-control
{
	margin-top:9px;
	margin-left:10px;
	border: 1px solid orange !important;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	box-shadow:none !important;
}
.input-group-text
{
	background-color: aqua;
	margin: 9px 5px 8px 0px;
	height: 38px;
	border: 1px solid oranger !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	cursor:pointer;
}
.search-box
{
	display:inline-flex;
	width:660px;
}
.menu-bar
{
	width: 850px;;
	height:60px;
	float:right;
}
.menu-bar ul
{
	display:inline-flex;
	float:right;
	
}
.menu-bar ul li
{
	height: 60px;
	/*border-right:1px solid #039;
	list-style-type:none;
	padding:15px 35px;
	text-align:center;
	cursor:pointer;
	background:orange;*/
	list-style-type:none;
	text-align: center;
	cursor: pointer;
	overflow:hidden;
	background-color:rgb(238, 230, 230);
	background: orange;
	text-align: center;
}
.menu-bar ul li a{
	/*font-size: 16px;
	font-weight: 900;
	color:white;
	text-decoration: none;*/
	display:block;
	color:white;
	text-align:center;
	padding:15px 20px;
	text-decoration:none;
	font-weight:bold;
}
.menu-bar ul li a:hover{
	background-color:#FFF;
	color:black;
}
@media only screen and (max-width:980px)
{
	.top-nav
	{
		height: 119px;
		border-bottom: 0;

	}
	.search-box
	{
		width: 100%;

	}
	.menu-bar
	{
		width: 100%;
	}
	.menu-bar ul
	{
		margin: 10px 0;
		width: 100%;
	}
	.menu-bar ul li
	{
		height: 60px;
		width: 100%;
	}
}
.fa-home
{
	margin-right:10px;
}
.fa-info-circle
{
	margin-right:10px;
}
.fa-sign-in
{
	margin-right:10px;
}
.fa-address-book-o
{
	margin-right:10px;
}
.fa-comments
{
	margin-right:10px;
}
.side-menu
{
	position:fixed;
	margin-left:1%;
	margin-right:0.5%;
	margin-bottom:5%;
	height:500px;
	width:15%;
	font-size:14px;
	float:left;
	z-index:2;
	background-color:#F3C246;
}
.side-menu ul
{
	margin-left:10px;
}
.side-menu ul li
{
	list-style-type:none;
	font-weight:bold;
	margin-top:10px;
	cursor:pointer;
}
.side-menu ul li:hover{
	color:#F00;
}
.side-menu ul li ul
{
	display:none;
	z-index:10;
	top:65px;
}
.side-menu ul li:hover ul
{
	color:black;
	display:block;
	height:500px;
	width:300px;
	margin-left:14.3%;
	padding:0px 100px 10px 10px;
	position:absolute;
	background:rgba(241, 161, 70, 0.7);
	box-shadow:1px 1px 1px 0px rgba(0,0,0,5);
}
.fa-angle-right
{
	margin-top:4px;
	margin-right:8px;
	float:right;
}
.side-menu .Sanpham{
	list-style-type:none;
	font-weight:bold;
	cursor:pointer;
}
.side-menu .Sanpham :hover
{
	color:white;
}
.Sanpham
{
	text-align:center;
	background-color:#FF9900;
	padding:10px;
}
@media only screen and (max-width:980px)
{
	.side-menu
	{
		width:40%;
		z-index:20;
		top:133px;
		position:fixed;
		font-size:14px;
	}
	.side-menu ul li ul
	{
		top:133px;
	}
	.side-menu ul li:hover ul
	{
		margin-left:30%;
	}
}
.mySlides{
	margin-left:17%;
	width:82.5%;
	height:500px;
}

<!-----Sản Phẩm ---->
.sanpham
{
	margin:50px 0;
}
.sanpham img
{
	width:80%;
	padding:20px 0px;
	transition:1s;
	cursor:pointer;
}
.sanpham img:hover
{
	transform:scale(1.2,1.2);
}
.col-12
{
	margin-bottom:1%;
	margin-top:2%;
	margin-left:4%;
}
.title-box
{
	background:orange;
	color:#FFF;
	width:180px;
	padding:4px 10px;
	height:40px;
	margin-bottom:30px;
	display:flex;
}
.title-box h2
{
	padding-left:10px;
	font-size:24px;
}
.title-box:after
{
	content:'';
	border-top: 40px solid orange;
	border-right:50px solid transparent;
	position:absolute;
	display:flex;
	margin-top:-4px;
	margin-left:170px;
}
.product-top img
{
	width: 80%;
}
.overlay-right
{
	display:block;
	opacity:0;
	position:absolute;
	top:10%;
	margin:0;
	width:60px;
}
.overlay-right .fa
{
	border-radius:15px;
	background-color:#FFF;
	color:#000;
	height:30px;
	width:30px;
	font-size:17px;
	padding:7px;
	margin-left: 0px;
}
.overlay-right .btn-outline-primary
{ 	
	margin-bottom: 3px;
	padding:1px;
	border-radius: 15px;
	border:1px;
}
.product-top:hover .overlay-right
{
	margin-left: 5%;
	opacity:0.9;
	transition:0.6s ;
	transform:scale(1.2,1.2);
}
.fa-star
{
	color:orange;
}
.fa-star-half-o
{
	color:orange;
}
.product-bottom
{
	margin-right:20%;
	text-align:center;
}
<!------------------------------------------------------------------------------------------->
